body {
    overflow-x: hidden;
}

header {
    text-align: center;
    background-color: #e4572e;
    font-family: 'Chelsea Market', cursive;
}

header h1 {
    text-shadow: 3px 3px 0 white;
}

header h2 {
    color: white;
}

main {
    background-color: #fffff2;
    overflow: hidden;
    font-family: 'Gamja Flower', cursive;
}

article {
    display: block;
    align-self: center;
    border: 4px solid #050401;
    box-shadow: 3px 3px 0 0 #e4572e;
    width: 750px;
    overflow: hidden;
    margin: auto auto 10px auto;
}

img {
    float: right;
}

input {
    box-shadow: 3px 3px 0 0 #e4572e;
}

footer {
    text-align: center;
    font-family: 'Gamja Flower', cursive;
}

form p {
    display: inline;
}