<<<<<<< HEAD
body {
    overflow-x: hidden;
}

=======
>>>>>>> 13c06b6d9e14b5dba0393b8959962e866fea2c2c
header {
    text-align: center;
    background-color: #e4572e;
    font-family: 'Chelsea Market', cursive;
}

header h1 {
<<<<<<< HEAD
    text-shadow: 3px 3px 0 white;
=======
    text-shadow: 3px 3px 0 0 white;
>>>>>>> 13c06b6d9e14b5dba0393b8959962e866fea2c2c
}

header h2 {
    color: white;
}

main {
    background-color: #fffff2;
    overflow: hidden;
    font-family: 'Gamja Flower', cursive;
}

article {
<<<<<<< HEAD
    display: block;
    align-self: center;
    border: 4px solid #050401;
    box-shadow: 3px 3px 0 0 #e4572e;
    width: 750px;
    overflow: hidden;
    margin: auto auto 10px auto;
=======
    border: 4px solid #050401;
    box-shadow: 3px 3px 0 0 #e4572e;
    width: 800px;
    overflow: hidden;
    margin: 10px 450px;
>>>>>>> 13c06b6d9e14b5dba0393b8959962e866fea2c2c
}

img {
    float: right;
}

input {
    box-shadow: 3px 3px 0 0 #e4572e;
}

footer {
    text-align: center;
    font-family: 'Gamja Flower', cursive;
}

form p {
    display: inline;
}